@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

a{
    text-decoration: none;
    color: black;
}
.topo {
    display: flex;
}

.topo li {
    padding: 24px;
    padding-top: 35.5px;
    font-size: 21px;
    display: flex;
}

.topo li:first-child {
    margin-right: auto;
}

div h1 {
    font-size: 47px;
}

.desenvolvimento-app {
    display: inline-block;
    margin-left: 106px;
    margin-top: 11%;
}

.celular{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.celular-img{
    width: 1300px;
    padding-left: 900px;

}

div main {
    top: 362px;
    left: 216px;
}

.botao-autor {
    width: 70px;
    height: 37px;
    padding: 10px, 16px;
    font-size: 16px;
    background-color: #0062ff;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 5px;
}

.botao-demonstracao {
    width: 120px;
    height: 36px;
    right: 332px;
    color: #575757;
    line-height: 120%;
}





.j{
    padding-bottom: 100px;
}

.autor {
    text-align: center;
    padding-bottom: 12px;
}

main {
    margin-top: 240px;
}

main div {
    display: inline-block;
}

.p {
    color: #575757;
    padding-bottom: 14px;
}

.biografia {
    margin-left: 131px;
    padding-right: 47px;
}
.rede-social {
    padding-top: 25px;
    padding-right: 19px;
}

.desenvolvedor {
    padding-left: 112px;
}

.autorlinha {
    display: flex;
    align-items: center;
    padding-top: 100px;
}





.fundo {
    background-color: #0062ff;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 702px;
    left: 1px;
    top: 124px;
}

.quero {
    background-color: #ffffff;
    color: #2203e4;
    padding: 10px 16px 10px 16px;
    border: 1px solid #2203e4;
    text-decoration: none;
    display: flex;
    margin-top: 50px;
}

.coluna-texto {
    margin-left: 10px;
}

.coluna {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 60px;
}

.linha {
    display: flex;
    justify-content: space-around;
}

.t {
    padding-top: 35px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 36px;
}

.o {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}





.h1{
    text-align: center;
    padding-top: 63px;
    padding-bottom: 12px;
}

.h1-texto{
    text-align: center;
    padding-bottom: 44px;
}

.banner-geral{
    display: flex;
}

.banner-texto{
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 205px;
}

.banner-imagens{
    text-align: center;
    align-items: center;
    padding-left: 48px;
    padding-bottom: 119px;
}




.avaliacao{
    background-color: #ffbe0b;
    text-align: center;
}

.avaliacao-texto{
    padding-top: 67px;
    padding-bottom: 42px;
}

.avaliacao-imagem{
    padding-bottom: 67px;
}




.coluna-celular{
    display: flex;
    align-items: center;
    padding-left: 283.36px;
}

.estrela{
    display: flex;
}

.estrela2{
    padding-right: 17px;
}

.app{
    color: #2203e4;
    font-size: 36px;
}

.app2{
    padding-bottom: 16px;
}

.carrinho{
    text-decoration: none;
    background-color: #0062ff;
    color: white;
    font-size: 16px;
    padding: 10px 16px 10px 16px;
}

.desconto{
    text-align: center;
}

.d2{
    padding-bottom: 28px;
}

.e-mail{
    padding-top: 25px;
    padding-left: 24px;
    padding-bottom: 26px;
    padding-right: 270px;
    background-color: #3a85ff63;
    text-decoration: none;
    border-radius: 12px;
    color: #2203e4;
}


.botao-compre{
    width: 199px;
    height: 37px;
    font-size: 23px;
    background-color: #00eeff;
    border: none;
    text-align: center;
}


.quero-desconto{
    display: block;
    padding-top: 30px;
}

.botao-quero{
    padding-top: 10px;
    padding-left: 176.53px;
    padding-bottom: 10px;
    padding-right: 176.53px;
    background-color: #0062ff;
    color: #ffffff;
}
.mark{
    padding-right: 100px;
    padding-left: 40px;
}